.o_field_widget[name="designation_rate_ids"] .o_list_view table {
    table-layout: auto !important;
    width: 100% !important;
}

.o_field_widget[name="designation_rate_ids"] th[data-name="job_id"],
.o_field_widget[name="designation_rate_ids"] td[name="job_id"] {
    width: auto !important;
    min-width: 150px !important;
}

.o_field_widget[name="designation_rate_ids"] th[data-name="bonus_percentage"],
.o_field_widget[name="designation_rate_ids"] td[name="bonus_percentage"] {
    width: auto !important;
    min-width: 120px !important;
}